---
import TypingText from '../components/TypingText.astro';
import PartyFollow from '../components/PartyFollow';
import Layout from '../layouts/Layout.astro';
import { getBlogs } from '../lib/microcms';
import "nes.css/css/nes.min.css";

try {
    const response = await getBlogs({ limit: 6 });
    console.log('API Response:', JSON.stringify(response, null, 2));
    const { contents: blogs } = response;
    
    // 個別のブログデータをチェック
    blogs.forEach((blog, index) => {
        console.log(`Blog ${index + 1}:`, {
            title: blog.title,
            category: blog.category,
            date: blog.publishedAt
        });
    });

} catch (error) {
    console.error('Error fetching blogs:', error);
}

// 通常の取得
const { contents: blogs } = await getBlogs({ limit: 6 });
---

<Layout pageId='top' title='my portfolio' description='尾崎幸喜のポートフォリオサイトです'>
    <PartyFollow client:only="react" />
  <!-- MV Section -->
  <section id="mv" class="mv">
      <div class="mv__wrap">
          <div class="mv__ttl">
              <img src="../assets/images/top/mv.png" alt="">
          </div>
          <div class="mv__text">
              <img src="../assets/images/top/mv02.png" alt="">
          </div>
          
          <span class="mv__scroll font-pixel">
            scroll start.
          </span>

      </div>
  </section>

  <div class="intro">
    <div class="l-inner">
        <div class="b-wrap">
            <TypingText 
            texts={[
                "*「thanks for coming my site.」",
                "*「I am a Front-End Developer.」",
                "*「Creating websites with passion.」"
            ]}
            speed={50}
            backSpeed={25}
            backDelay={2000}
            startDelay={1000}
            className="intro__text"
            />    
        </div>

    </div>
</div>

  <section class="about section" id="about">
    <div class="about__inner l-inner">
        <div class="about__left">
            <div class="sec-ttl">
                <h2 class="sec-ttl-en">About</h2>
                <span class="sec-ttl-ja">私について</span>
            </div>
            <p class="about__name font-pixel">尾崎 幸喜 - Koki Ozaki</p>
            <p class="about__text">
                1998年1月、京都府生まれ。大阪の大学を卒業後、実家の製造業にて約1年半、金属加工に従事しました。その後、エンジニアへの憧れからWeb開発を学び始め、2022年よりWeb業界でのアルバイトを通じて経験を積みました。<br>現在は大阪の企業でフロントエンドエンジニアとして勤務し、HTML/CSSやJavaScriptを活用したWebサイトの構築に取り組んでいます。
            </p>
            <div class="btn-A font-pixel is-pc-tab">
                <a href="/profile" class="text sound-btn">ぷろふぃーる詳細</a>
            </div>
        </div>
        <div class="about__right ">
            <div class="about__container b-wrap">
                <div class="about__head">
                    <div class="about__img">
                        <img src="../assets/images/top/profile.jpg" alt="">
                    </div>
                    <ul class="about__heart">
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-max.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-half.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-emp.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-emp.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-emp.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-emp.png" alt=""></li>
                        <li><img src="../assets/images/common/heart-emp.png" alt=""></li>
                    </ul>

                </div>
                <div class="profile">
                    <div class="profile__grid">
                        <div class="profile__wrap profile__wrap--01 b-wrap">
                            <span class="profile__name font-pixel">こーき</span>
                            <dl class="font-pixel">
                                <dt>Lv：</dt>
                                <dd>26</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>職業：</dt>
                                <dd>えんじにあ</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>せいべつ：</dt>
                                <dd>おとこ</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>性格：</dt>
                                <dd>すばしっこい</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>経験値：</dt>
                                <dd>3年</dd>
                            </dl>
                        </div>
                        
                        <div class="profile__wrap profile__wrap--02 b-wrap">
                            <span class="profile__name font-pixel">そうび</span>
                            <dl class="font-pixel">
                                <dt>E　</dt>
                                <dd>まっくぶっく</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>E　</dt>
                                <dd>あいふぉん</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>E　</dt>
                                <dd>あっぷるうぉっち</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>E　</dt>
                                <dd>布の服</dd>
                            </dl>
                        </div>

                        <div class="profile__wrap profile__wrap--03 b-wrap">
                            <span class="profile__name font-pixel">つよさ</span>
                            <dl class="font-pixel">
                                <dt>HTML：</dt>
                                <dd>262</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>CSS：</dt>
                                <dd>258</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>JavaScript：</dt>
                                <dd>234</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>React/Next.js：</dt>
                                <dd>156</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>PHP：</dt>
                                <dd>175</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>MySQL：</dt>
                                <dd>149</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>Node.js：</dt>
                                <dd>153</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>Webpack/vite：</dt>
                                <dd>173</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>API：</dt>
                                <dd>149</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>WordPress：</dt>
                                <dd>217</dd>
                            </dl>
                            <dl class="font-pixel">
                                <dt>Git/GitHub：</dt>
                                <dd>233</dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
            <div class="btn-A font-pixel is-sp">
                <a href="/profile" class="text sound-btn">ぷろふぃーる詳細</a>
            </div>
        </div>
    </div>

  </section>
  <!-- Services Section -->
  <section id="service" class="service section">
      <div class="l-inner">
        <div class="sec-ttl">
            <h2 class="sec-ttl-en">Service</h2>
            <span class="sec-ttl-ja">さーびす</span>
        </div>
          <div class="service__grid">
              <div class="service__card b-wrap">
                  <h3>Webサイト制作</h3>
                  <div class="service__img">
                    <img src="./assets/images/top/service01.png" alt="">
                  </div>
                  <p>レスポンシブデザインはもちろん、あなたのお店や会社の魅力を伝える、見やすいホームページをお作りします。<br>
                    コーディングスピードにはかなりの自信がありますので、最速で納品いたします。
                </p>
              </div>
              <div class="service__card b-wrap">
                  <h3>CMS構築/導入</h3>
                  <div class="service__img">
                    <img src="./assets/images/top/service02.svg" alt="">
                  </div>
                  <p>WordPressなどの仕組みを導入し、自分で簡単に更新できるホームページを提供します。<br>
                    更新の手間を減らして、いつでも最新情報を発信できます。
                  </p>
              </div>
              <div class="service__card b-wrap">
                  <h3>その他・ご相談</h3>
                  <div class="service__img">
                    <img src="./assets/images/top/service03.png" alt="">
                  </div>
                  <p>Webサイト制作での不安やデザインに関するご相談を受け付けています。<br>「こんなこと相談してもいいのかな？」と思う内容でも、ぜひお気軽にお問い合わせください。柔軟に対応いたします！</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Blog Section -->
<section id="blog" class="blog section">
  <div class="l-inner">
    <div class="sec-ttl">
        <h2 class="sec-ttl-en">Blog</h2>
        <span class="sec-ttl-ja">ぶろぐ</span>
    </div>
      <div class="blog__grid">
          {blogs.map((blog) => (
              <article class="blog__card">
                  <a href={`/blog/${blog.id}`} class="blog__link">
                      <div class="blog__thumbnail">
                          {blog.thumbnail ? (
                              <img 
                                  src={`${blog.thumbnail.url}?w=800`}
                                  alt={blog.title}
                                  width={400}
                                  height={225}
                              />
                          ) : (
                              <div class="blog__thumbnail-placeholder">
                                  No Image
                              </div>
                          )}
                      </div>
                      <div class="blog__content">
                          <div class="blog__header">
                            <div class="blog__footer">
                                <time datetime={blog.publishedAt} class="blog__date">
                                    {new Date(blog.publishedAt).toLocaleDateString('ja-JP', {
                                        year: 'numeric',
                                        month: 'short',
                                        day: 'numeric'
                                    })}
                                </time>
                            </div>
                            {blog.categories && blog.categories.length > 0 && (
                                <div class="blog__categories">
                                    {blog.categories.map((category) => (
                                        <span class="blog__category">
                                            {category.name}
                                        </span>
                                    ))}
                                </div>
                            )}
                            

                          </div>
                          <h3 class="blog__title">{blog.title}</h3>
                      </div>
                  </a>
              </article>
          ))}
      </div>
      <div class="blog__more">
          <div class="btn-A font-pixel">
              <a href="/blog" class="text sound-btn">いちらんを見る</a>
          </div>
      </div>
  </div>
</section>


  <!-- Works Section -->
  <section id="work" class="work section">
    <div class="l-inner">
        <div class="sec-ttl">
            <h2 class="sec-ttl-en">Work</h2>
            <span class="sec-ttl-ja">じっせき</span>
        </div>
        <div class="work__grid">
            <div class="work__card">
                <a href="https://smile104.net/" target="_blank" class="work__link">
                    <div class="work__thumbnail">
                        <img src="../assets/images/top/work01.png" alt="企業サイト制作" />
                    </div>
                    <div class="work__content">
                      <p class="work__description">Webサイト制作</p>
                      <div class="work__tags">
                          <span class="work__tag">Astro</span>
                          <span class="work__tag">JavaScript</span>
                          <span class="work__tag">SCSS</span>
                      </div>
                        <h3 class="work__title">癒しサロンSmile様 コーポレートサイト</h3>
                    </div>
                </a>
            </div>
            <div class="work__card">
                <a href="https://ozakikoki.com/" target="_blank" class="work__link">
                    <div class="work__thumbnail">
                        <img src="../assets/images/top/work02.png" alt="LPサイト制作" />
                    </div>
                    <div class="work__content">
                      <p class="work__description">キャンペーンサイト新規制作</p>
                      <div class="work__tags">
                          <span class="work__tag">Next.js</span>
                          <span class="work__tag">TypeScript</span>
                          <span class="work__tag">Tailwind CSS</span>
                      </div>
                        <h3 class="work__title">アニメーション重視のポートフォリオサイト</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="work__more">
            <div class="btn-A btn-A--white font-pixel">
                <a href="/work" class="text sound-btn">いちらんを見る</a>
            </div>
        </div>
    </div>
</section>

</Layout>

   

<style lang="scss">
  @import '../styles/vars.scss';
  @import '../styles/common.scss';
:root {
  --color-primary: #8749ff;     // メインの深い緑
  --color-primary-light: #a77cff;  // 明るい緑
  --color-primary-dark: #a77cff;   // 暗い緑
  --color-accent: #c6aaff;      // アクセントの薄緑
  --color-text: #fff;        // 文字色
  --color-text-light: #666666;  // 薄い文字色
  --color-background: #FFFFFF;  // 背景色
  --color-gray: #F5F5F5;       // グレー背景
}

body {
    // background: #161860;
}


  /* MV Section */
  .mv {
    color: white;
    text-align: center;
    height: 100vh;
    height: calc(100vh - 6rem - 3px);
    width: 100%;
    background: #000;
    overflow: hidden; // アニメーション要素がはみ出ないように

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 100%;
        position: relative;

        @include max-screen($bp-sp) {
            gap: 4rem;
        }
    }

    &__ttl {
        width: 100%;
        opacity: 0; // 初期状態は非表示
        transform: translateY(-50px); // 上から降りてくるように
        img {
            width: 100%;
        }
    }

    &__text {
        width: 40rem;
        opacity: 0; // 初期状態は非表示

        @include max-screen($bp-sp) {
            width: 17rem;
        }
        img {
            width: 100%;
        }
    }

    &__img {
        width: 80%;
        margin: 0;
    }

    &__scroll {
        position: absolute;
        left: 50%;
        bottom: 5rem;
        transform: translateX(-50%);
        color: #fff;
        font-size: 2rem;
        opacity: 0; // 初期状態は非表示
        letter-spacing: 0.1em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @include max-screen($bp-sp) {
            font-size: 1.6rem;
        }
    }

    .noise-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('/assets/images/noise.png');
        opacity: 0.05;
        pointer-events: none;
        mix-blend-mode: overlay;
    }

    .scanlines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.1) 50%,
            rgba(255,255,255,0) 100%
        );
        background-size: 100% 4px;
        pointer-events: none;
        animation: scanlines 10s linear infinite;
    }
}

// スキャンラインアニメーション
@keyframes scanlines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}



  /* Common Section Styles */
  .section {
      padding: 8rem 2rem;

      @include max-screen($bp-sp) {
        padding: 5rem 2rem;
      };
      &__title {
          color: var(--color-primary);
          font-family: "PixelMplus12"!important;
          font-size: 4rem;
          text-align: center;
          margin-bottom: 3rem;
          font-weight: normal;
          color: #000;
          font-weight: bold;

          @include max-screen($bp-sp) {
            font-size: 2.8rem;
            margin-bottom: 1.5rem;
          }
          &::after {
            content: '';
            display: block;
            width: 6rem;
            height: 3px;
            background: var(--color-accent);
            margin: 1rem auto 0;
        }

      }
  }





.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 30rem;

    @include max-screen($bp-sp) {
        height: 15rem;
    }
    &__text {
        color: #fff;
    }

    .l-inner {
        position: relative;
    }

    .b-wrap {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include max-screen($bp-sp) {
            width: 80%;
            padding: 1.5rem 1rem;
        }
    }
}
.about {
    background: #fff;
    color: #000;
    &__inner {
        display: flex;
        justify-content: space-between;

        @include max-screen($bp-sp) {
            flex-direction: column;
            gap: 3rem;
        }
        
    }

    &__container {
        margin-bottom: 3rem;
    }

    &__right {
        width: 48%;
        transform: rotate(3deg);
        position: relative;
        right: -3rem;

        @include max-screen($bp-sp) {
            width: 100%;
            transform: rotate(0);
            position: static;
        }
        
        img {
            border-radius: 50%;
        }
    }

    &__left {
        width: 48%;
        @include max-screen($bp-sp) {
            width: 100%;
        }
    }

    &__img {
        width: 15rem;
        margin: 0 auto 2rem;
        @include max-screen($bp-sp) {
            width: 10rem;
            margin-bottom: 1.5rem;
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;
        align-items: center;
        gap: 2rem;
        @include max-screen($bp-sp) {
            gap: 1.5rem;
        }
    }

    &__heart {
        display: flex;
        width: 70%;
        margin: 0 auto 2rem;
        flex-wrap: wrap;
        li {
            width: calc(100% * 1 / 10);
        }
    }

    &__name {
        font-size: 3.8rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-weight: bold;
        @include max-screen($bp-sp) {
            font-size: 2.4rem;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        margin-bottom: 4rem;
        @include max-screen($bp-sp) {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
    }
}

.profile {
    dl {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        color: #fff;
        margin-bottom: 0;
        @include max-screen($bp-sp) {
            font-size: 1.2rem;
        }
    }

    dt {
        
        font-weight: normal;
    }

    &__name {
        font-size: 1.8rem;
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 0 5px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;

        @include max-screen($bp-sp) {
            font-size: 1.4rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 2rem;

        @include max-screen($bp-sp) {
            gap: 1rem;
        }
    }
    &__wrap {
        padding: 2rem 2rem 1rem;
        position: relative;

        @include max-screen($bp-sp) {
            padding: 1rem;
        }

        &--01 {
            grid-area: 1 / 1 / 2 / 2;
        }
        &--02 {
            grid-area: 2 / 1 / 3 / 2;
        }
        &--03 {
            grid-area: 1 / 2 / 3 / 3;

            dl {
                justify-content: right;
            }
        }
    }
}


  /* Services Section */
  .service {
    //   background: #f3f3fe;
    background: #000;
    color: #fff;
      &__grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          background: #000;
          gap: 3rem;

          @include max-screen($bp-sp) {
            grid-template-columns: 1fr;
          }
      }
    
      &__card {
          padding: 4rem 3rem 2rem;
          transition: all 0.3s ease;
        position: relative;

        @include max-screen($bp-sp) {
            padding: 2rem 1.5rem;
        }
          
          h3 {
              font-size: 2rem;
              color: #dcb434;
              text-align: center;
              padding-bottom: 2rem;
              position: relative;
              background: #000;
              display: inline-block;
              padding: 0 1rem;
              position: absolute;
              top: 0;
              left: 50%;
              white-space: nowrap;
              transform: translate(-50%, -50%);

              @include max-screen($bp-sp) {
                font-size: 1.6rem;

              }

            
          }

          p {
            font-size: 1.6rem;
            @include max-screen($bp-sp) {
                font-size: 1.2rem;
            }
          }
      }

      &__img {
        height: 10rem;
        text-align: center;
        margin-bottom: 2rem;

        @include max-screen($bp-sp) {
            height: 7rem;
            margin-bottom: 1.5rem;
        }
      }
    
  }


  /* Blog Section */
  .blog {
    // background: #fff;
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin-bottom: 5rem;

        @include max-screen($bp-sp) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            margin-bottom: 3rem;
        }
    }
    
    &__card {
        background: #fff;
        transition: all 0.3s ease;
        background-color: #000;
        box-shadow: 0 0 0 3px #000;
        border: 2px solid #fff;
        border-radius: 5px;
        
        &:hover {
            border-color: #dcb434;
            .blog__thumbnail img {
                transform: scale(1.03);
            }

            .blog__title {
                color: #dcb434;
            }
        }
    }
    
    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
    }
    
    &__thumbnail {
        position: relative;
        overflow: hidden;
        background: #f8f8f8;
        aspect-ratio: 16/9;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }
    
    &__content {
        padding: 1.5rem 1rem;
        @include max-screen($bp-sp) {
            padding: 1rem;
        }
    }
    
    &__categories {
        display: flex;
        gap: 0.5rem;
    }
    
    &__category {
        font-size: 1.3rem;
        letter-spacing: 0.05em;
        color: #fff;
        border: 1px solid #fff;
        padding: 0 0.75rem;
        @include max-screen($bp-sp) {
            font-size: 1rem;
        }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      @include max-screen($bp-sp) {
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    
    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
        line-height: 1.4;
        color: #fff;

        @include max-screen($bp-sp) {
            font-size: 1.3rem;
        }
    }
    
    &__excerpt {
        font-size: 1rem;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    
    &__date {
        font-size: 1rem;
        color: #fff;
        letter-spacing: 0.05em;
    }
}




  /* Works Section */
  .work {
    background: #000;
    color: #fff;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin-bottom: 4rem;

        @include max-screen($bp-sp) {
            gap: 1.5rem;
        }
    }
    
    &__card {
        background-color: #000;
        box-shadow: 0 0 0 3px #000;
        border: 2px solid #fff;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 3px;
        
        &:hover {
            border-color: #dcb434;
            
            .work__thumbnail img {
                transform: scale(1.03);
            }

            .work__title {
              color: #dcb434;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
        border-radius: 5px;
        overflow: hidden;
    }
    
    &__thumbnail {
        position: relative;
        overflow: hidden;
        aspect-ratio: 16/9;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }
    }
    
    &__content {
        padding: 2rem;
        @include max-screen($bp-sp) {
            padding: 1rem;
        }
    }
    
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.4;
        transition: 0.3s;

        @include max-screen($bp-sp) {
            font-size: 1.3rem;
        }
        
    }
    
    &__description {
        font-size: 1.4rem;
        color: #666;
        margin-bottom: 1.5rem;

        @include max-screen($bp-sp) {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
    
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        margin-bottom: 1rem;

        @include max-screen($bp-sp) {
         margin-bottom: 0.5rem;   
        }
    }
    
    &__tag {
        font-size: 1.3rem;
        letter-spacing: 0.05em;
        color: #666;
        border: 1px solid #999;
        padding: 0 0.75rem;
        color: #999;

        @include max-screen($bp-sp) {
            font-size: 1rem;
        }
    }
}


  

</style>

<script>
  import gsap from 'gsap';
  import {
  ScrollTrigger
} from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

document.addEventListener('DOMContentLoaded', () => {
    // メインのタイムライン作成
    const tl = gsap.timeline({
        defaults: {
            ease: 'power2.out'
        }
    });

    // タイトルのアニメーション
    tl.fromTo('.mv__ttl', {
        opacity: 0,
        y: -50
    }, {
        opacity: 1,
        y: 0,
        duration: 2,
        ease: 'power2.out'
    })
    
    // サブテキストのアニメーション
    .fromTo('.mv__text', {
        opacity: 0,
        scale: 0.9
    }, {
        opacity: 1,
        scale: 1,
        duration: 1.5,
        ease: 'power2.out'
    }, '+=0.25')  // タイトルアニメーション後、0.5秒待ってから開始

    // スクロールテキストの点滅アニメーション
    .fromTo('.mv__scroll', {
        opacity: 0
    }, {
        opacity: 1,
        duration: 0.1,
        repeat: -1,
        yoyo: true,
        repeatDelay: 0.5
    }, '+=0.25');  // サブテキストアニメーション後、1秒待ってから開始

    // オプション：背景のフェードイン
    gsap.fromTo('.mv', {
        backgroundColor: 'rgba(0, 0, 0, 0)'
    }, {
        backgroundColor: 'rgba(0, 0, 0, 1)',
        duration: 2
    });

    gsap.utils.toArray('.section').forEach(section => {
  gsap.from(section, {
    opacity: 0,
    y: 30,
    duration: 1,
    scrollTrigger: {
      trigger: section,
      start: 'top 80%',
      toggleActions: 'play none none reverse'
    }
  });
});

// プロフィールカードのRPG風演出
const profileTl = gsap.timeline({
  scrollTrigger: {
    trigger: '.about__container',
    start: 'top 70%'
  }
});

profileTl
  .from('.about__img', {
    scale: 0,
    rotation: 360,
    duration: 1,
    ease: 'back.out(1.7)'
  })
  .from('.about__heart li', {
    scale: 0,
    opacity: 0,
    duration: 0.3,
    stagger: 0.1
  })
  .from('.profile__wrap dl', {
    opacity: 0,
    x: 30,
    duration: 0.5,
    stagger: 0.1
  });

  // サービスカードのゲーム風表示
const serviceCards = gsap.utils.toArray('.service__card');
serviceCards.forEach((card, i) => {
  gsap.from(card, {
    opacity: 0,
    scale: 0.8,
    duration: 0.8,
    delay: i * 0.2,
    scrollTrigger: {
      trigger: card,
      start: 'top 80%'
    },
    ease: 'back.out(1.7)'
  });
});



// 各セクションタイトルに対して処理
document.querySelectorAll('.sec-ttl').forEach(titleSection => {
  // メインタイトルのテキストを1文字ずつ分割
  const mainTitle = titleSection.querySelector('.sec-ttl-en');
  const text = mainTitle.textContent;
  mainTitle.textContent = '';
  
  // 1文字ずつspanで包む
  text.split('').forEach(char => {
    const span = document.createElement('span');
    span.textContent = char;
    span.style.opacity = '0';
    span.style.display = 'inline-block';
    mainTitle.appendChild(span);
  });

  const chars = mainTitle.querySelectorAll('span');
  const subtitle = titleSection.querySelector('.sec-ttl-ja');

  // アニメーションの設定
  gsap.timeline({
    scrollTrigger: {
      trigger: titleSection,
      start: 'top 80%',
    }
  })
  .to(chars, {
    opacity: 1,
    duration: 0.1,
    stagger: 0.1,
    ease: 'none'
  })
  .to(subtitle, {
    opacity: 1,
    duration: 0.8,
    ease: 'power2.out'
  }, '>-0.5');
});

});


</script>
